<section id="concerts" class="concerts">
  <div class="concerts-wrapper">
    <h2 class="concert-title">Найближчі концерти</h2>
    <table>
      <thead>
        <tr>
          <th>Місто / Заклад</th>
          <th>К-сть місць</th>
          <th>Дата і час</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <td>Київ — Docker-G Pub</td>
          <td>250</td>
          <td>25.10.2025, 19:00</td>
          <td>
            <a class="btn-secondary" href="#contact"> Замовити квиток </a>
          </td>
        </tr>
        <tr>
          <td>Львів — FESTrepublic</td>
          <td>400</td>
          <td>01.11.2025, 20:00</td>
          <td>
            <a class="btn-secondary" href="#contact"> Замовити квиток </a>
          </td>
        </tr>
        <tr>
          <td>Одеса — Зелений театр</td>
          <td>700</td>
          <td>09.11.2025, 19:30</td>
          <td>
            <a class="btn-secondary" href="#contact"> Замовити квиток </a>
          </td>
        </tr>
        <tr>
          <td>Харків — ArtZavod</td>
          <td>500</td>
          <td>16.11.2025, 19:00</td>
          <td>
            <a class="btn-secondary" href="#contact"> Замовити квиток </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
