<footer class="footer">
  <div class="footer-top-block">
    <p class="footer-text">©2025 «Грим та Грім». Всі права захищені.</p>
    <ul class="footer-list">
      <li>
        <a
          class="soc-link"
          target="_blank"
          href="https://www.instagram.com"
          rel="noopener noreferrer"
          >Instagram</a
        >
      </li>
      <li>
        <a
          class="soc-link"
          target="_blank"
          href="https://www.youtube.com"
          rel="noopener noreferrer"
          >YouTube</a
        >
      </li>
      <li>
        <a
          class="soc-link"
          target="_blank"
          href="https://www.facebook.com"
          rel="noopener noreferrer"
          >Facebook</a
        >
      </li>
    </ul>
  </div>
  <ul class="footer-list-bottom">
    <li>
      <a class="contacts-link" href="mailto:booking@lotoplay.com">
        booking@lotoplay</a
      >
    </li>
    <li>
      <a class="contacts-link" href="tel:+380991234567"> +38 (099) 123-45-67</a>
    </li>
  </ul>
</footer>
