<section class="gallery" id="gallery">
  <h2 class="gallery-title">Учасники гурту</h2>
  <ul class="gallery-list">
    <li class="gallery-item">
      <img
        class="photo"
        srcset="./img/gallery-gitar-1x.png 1x, ./img/gallery-gitar-2x.png 2x"
        src="./img/gallery-gitar-1x.png"
        alt="guitarist"
        width="298"
        height="218"
      />
      <h3 class="gallery-item-title">Максим - гітара</h3>
    </li>
    <li class="gallery-item">
      <img
        class="photo"
        srcset="./img/gallery-vokal-1x.png 1x, ./img/gallery-vokal-2x.png 2x"
        src="./img/gallery-vokal-1x.png"
        alt="vocalist"
        width="298"
        height="218"
      />
      <h3 class="gallery-item-title">Олена - вокал</h3>
    </li>
    <li class="gallery-item">
      <img
        class="photo"
        srcset="./img/gallery-drum-1x.png 1x, ./img/gallery-drum-2x.png 2x"
        src="./img/gallery-drum-1x.png"
        alt="drummer"
        width="298"
        height="218"
      />
      <h3 class="gallery-item-title">Тарас - барабани</h3>
    </li>
  </ul>
</section>
