<header class="header">
  <nav class="header-navigation" role="navigation" aria-label="Головне меню">
    <a class="header-logo" href="./index.html">G&G</a>
    <ul class="header-menu-list">
      <li class="header-menu-item">
        <a class="header-link" href="#about">Про гурт</a>
      </li>
      <li class="header-menu-item">
        <a class="header-link" href="#concerts">Концерти</a>
      </li>
      <li class="header-menu-item">
        <a class="header-link" href="#gallery">Галерея</a>
      </li>
      <li class="header-menu-item">
        <a class="header-link" href="#contact">Контакти</a>
      </li>
    </ul>
  </nav>
</header>
