<section class="hero">
  <h1 class="hero-title">Гурт «Грим та Грім»</h1>
  <p class="hero-text-top">Справжній український рок, який гуркоче в серці.</p>
  <p class="hero-text-midle">
    «Грим та Грім» - це поєднання
    <span class="hero-span">потужних</span> гітарних рифів, чесних текстів і
    вибухової енергії сцени. Ми граємо для тих, хто цінує живий звук, свободу та
    силу музики.
  </p>
  <p class="hero-text-bottom">
    <span class="hero-span">Наші концерти</span> - це завжди контаки зі залом,
    драйв та емоції. Приєднуйся до нас на найближчих виступах і відчуй цей саунд
    наживо!
  </p>
  <a class="hero-btn" href="#concerts">Замовити квиток</a>
</section>
