h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #0e0f12;
  color: white;
  margin: 0 ato;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
}

* {
  outline: 1px solid red;
}
