.contact {
  padding: 75px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(45deg, #1e1116, #121c21);
}

.contact-title {
  font-size: 34px;
  margin-bottom: 30px;
}

.contact-text {
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
.block {
  display: flex;
  margin: 0 auto;
}

.contact-form {
  width: 562px;
  height: 282px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-right: 40px;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.02em;
}

.input {
  background-color: #151821;
  border: 1px solid #333;
  width: 270px;
  height: 44px;
  border-radius: 10px;
  color: #fff;
  padding: 0 10px;
}

input:invalid,
input:valid {
  box-shadow: none;
  outline: none;
  color: #fff;
  border-color: #333;
}

.textarea {
  background-color: #151821;
  border: 1px solid #333;
  border-radius: 10px;
  width: 562px;
  height: 82px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  padding: 10px;
}

.textarea::placeholder {
  color: #757575;
}

.textarea {
  color: #ffffff;
}

.input:focus,
.textarea:focus {
  border-color: #f82c56;
  outline: none;
  box-shadow: 0 0 6px rgba(248, 44, 86, 0.5);
}

.btn {
  width: 158px;
  height: 48px;
  border-radius: 10px;
  background-color: #f82c56;
  color: white;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.02em;
}

.btn:hover,
.btn:focus {
  background-color: rgba(248, 44, 86, 0.5);
}

.right-column {
  padding: 25px 20px;
  background-color: #151821;
  border-radius: 10px;
  border: 1px solid #333;
  width: 560px;
}

.right-column-title {
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 20px;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  border: 0;
  width: 100%;
  max-width: 520px;
  height: 300px;
  border-radius: 10px;
}
