@media (max-width: 1024px) {
  .header {
    padding: 20px 40px;
  }

  .hero {
    padding: 100px 40px;
    text-align: center;
  }

  .hero-text-top {
    text-align: left;
  }

  .gallery-list {
    flex-direction: column;
    gap: 40px;
  }

  .gallery-item {
    margin: 0 auto;
  }

  .about {
    padding-left: 40px;
    padding-right: 40px;
  }
  .about-content {
    flex-direction: column;

    gap: 20px;
  }

  .block {
    flex-direction: column;
    gap: 20px;
  }

  .footer {
    width: 100%;
    padding: 30px 40px;
  }
}
