.footer {
  height: 177px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 45px 0;
}

.footer-top-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  cursor: pointer;
}

.footer-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list-bottom {
  display: flex;
  gap: 6px;
  cursor: pointer;
}

.footer-list li::after {
  content: '•';
  margin-left: 10px;
}

.footer-list li:last-child::after {
  content: '';
}
