.gallery {
  padding: 68px 0;
  margin: 0 auto;
  text-align: center;
}

.gallery-title {
  margin: 0 auto;
  font-size: 34px;
  margin-bottom: 54px;
  max-width: 1170px;
}

.gallery-list {
  display: flex;
  justify-content: center;
  gap: 96px;
  text-align: left;
}

.gallery-item {
  background-color: #151821;
  border-radius: 10px;
  max-width: 298px;
  height: 262px;
  display: flex;
  flex-direction: column;
}

.gallery-item-title {
  font-weight: 400;
  margin-left: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (max-width: 1440px) {
  .gallery-title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .gallery-list {
    gap: 60px;
  }

  .gallery-item {
    width: 260px;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .gallery {
    padding: 40px 0;
  }

  .gallery-title {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .gallery-list {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .gallery-item {
    width: 100%;
    max-width: 330px;
    height: auto;
  }

  .gallery-item-title {
    font-size: 16px;
    margin-left: 8px;
  }
}
