.header {
  max-width: 1920px;
  padding: 22px 252px;
  margin: 0 auto;
}

.header-logo {
  font-weight: 700;
  font-weight: bold;
  font-size: 20px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.header-menu-list {
  display: flex;
  gap: 28px;
  font-weight: 500;
  font-size: 18px;
}
