.hero {
  max-width: 1920px;
  height: 596px;
  padding: 125px 360px 116px;
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-title {
  text-align: left;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.01em;
  line-height: normal;
  margin-bottom: 40px;
}

.hero-text-top {
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.065em;
  margin-bottom: 40px;
}

.hero-text-midle {
  max-width: 1170px;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.065em;
  margin-bottom: 25px;
}

.hero-text-bottom {
  font-size: 14.5px;
  line-height: 1.8;
  letter-spacing: 0.065em;
  margin-bottom: 40px;
}

.hero-btn {
  padding: 14px 18px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  width: 230px;
  height: 52px;
  border-radius: 12px;
  background-color: #fddd14;
  color: #0e0f12;
  border: none;
  text-transform: uppercase;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #9b8811;
}

.hero-span {
  color: #4dd3fd;
}
