/* Common styles */
@import url('./base.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./concerts.css');
@import url('./gallery.css');
@import url('./about.css');
@import url('./contact.css');
@import url('./footer.css');
